footer {
    background-color: #BCBDC0;
}
.container.informacion_pie,
.container.informacion_pie > .container {
    padding: 0 !important;
    margin: auto !important;
    color: black;
    font-size: 12px;
    text-align: left;
    background-color: #BCBDC0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5) !important;
}

.texto-pie
{
    background-color: #808285;
    padding: 2px;
}

.row-redes {
    margin-top: 15px;
    text-align: right;
}
@media (max-width: 767px) {
    .informacion-contacto {
        text-align: center;
        margin-top: 15px;
    }
    .informacion-institucional {
        padding: 0 30px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .informacion_pie {
        width: 100% !important;
    }

    .informacion_pie > .hidden-print {
        width: 100% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .container.informacion_pie {
        width: 100% !important;
    }

    .container.informacion_pie > .container.hidden-print {
        width: 100% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


    .container.informacion_pie > .container > .row > .row-redes {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container.informacion-contacto {
        padding-left: 0 !important;
    }

    .container.informacion-institucional {
        padding-right: 0 !important;
    }
}
