.archivo th {
	background: #00365d;
	color: #FFF;
}

.archivo thead {
	border-bottom-color: #FFF;
}

.archivo {
	margin-top: 1em;
}

.titulo-archivo {
	margin-top: -12px;
}

.chosen-container-single .chosen-single {
	height: 28px !important;
}

.chosen-default span {
	font-size: 14px;
}
.chosen-container-single .chosen-single span {
	margin-top: 2px;
}
.crie th {
	background-color: #003f6a;
	color: #FFFFFF;
	font-weight: normal;
}

main.cuerpo-contenido {
	padding: 0 5px;
}

ul.menu_navegacion_facul {
	padding: 0 0 0 1.5rem;
}
.menu-nav {
  max-height: 74px;
	padding: 0;
  align-items: center;
}
.breadcrumb {
	z-index: 1;
}
.leer-mas {
	font-size: 0.929em !important;
    color: #870602 !important;
}

@media (max-width: 549px) {
	iframe, table, td {
		width: 100% !important;
	}
	object {
		height: auto;
	}
	.noticia-articulo img {
		margin: auto !important;
	}
}
@media (min-width: 550px) {
	iframe, table, td {
		width: 100% !important;
	}
	object {
		height: auto;
	}
}
